<html>
	<head>
		<title>ML Project</title>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="static/stylesheets/style.css">
	</head>
	
	<body>
		<div class="container">
			
			<div class="header">
				<br>
				<h3 class="text-muted"><center>Comparison: K-NN v/s Naive Bayes</center></h3>
			</div>
			
			<hr>
			
			{{render_chart}}
			
		</div>
	</body>
</html>